:root {
    --anim-offset: 1px;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

body {
    height: 700lvh;
    width: 100lvw;
    display: flex;
    flex-direction: column;

    background-color: #211c27;

    > div:not(.landing) {
        height: 100lvh;
    }
}

header #visible {
    position: fixed;
    width: 100lvw;
    top: 0;
    left: 0;
    z-index: -1;
}

h3 {
    width: 100%;
    text-align: center;
    margin: 7.8lvw 0 0 0; padding: 0;
    font-family: "adorn-smooth-condensed-sans", sans-serif;
    font-size: 5.5lvw;
    color: #faf8f7;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 2.6lvw 0 5.2lvw 0; padding: 0;
    font-size: 9lvw;
    font-weight: 800;
    color: #faf8f7;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

div.landing {
    padding: 5.2lvw;
    display: flex;
    flex-direction: column;
    gap: 3lvw;
    flex: 1;
    border-radius: 5.2lvw 5.2lvw 0 0;
    background-color: #faf8f7;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -15px 25px, rgba(0, 0, 0, 0.05) 0px -5px 10px;


    .row:nth-child(1) {
        z-index: 0;
    }
    .row:nth-child(2) {
        z-index: 2;
    }
    .row:nth-child(3) {
        z-index: 3;
    }

    div {
        display: flex;
        gap: 3lvw;
        flex: 1;

        .landing-tile {
            border-radius: 3.9lvw;
            
            flex: 1;
            box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            transition: 200ms;
            cursor: pointer;

            &:hover {
                transform: translateY(-3.9lvw);
                transition: 200ms;
            }

            .tile-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 1.82lvw;
                border-radius: 3.64lvw;
                box-shadow: rgba(255, 255, 255, 0.06) 0 2px 4px 0 inset;

                p {
                    font-size: clamp(4rem, 12lvw, 6.5rem);
                    margin: 0;
                    padding: 0;
                }
                h2 {
                    font-size: clamp(1.3rem, 4.2lvw, 2.2rem);
                    height: 0;
                    margin: 0;
                    font-weight: 800;
                }
            }

            &#tile-1 {
                background-color: #b18864;
                .tile-container {background-color: #ebcaa1; color: #392420;}
            }

            &#tile-2 {
                background-color: #5e87ad;
                .tile-container {background-color: #a4caee; color: #202b39;}
            }

            &#tile-3 {
                background-color: #855fb1;
                .tile-container {background-color: #c7a4ee; color: #2e2039;}
            }

            &#tile-4 {
                background-color: #5fa3af;
                .tile-container {background-color: #a7e2e6; color: #203639;}
            }

            &#tile-5 {
                background-color: #b36262;
                .tile-container {background-color: #eea7a7; color: #392020;}
            }

            &#tile-6 {
                background-color: #69ad60;
                .tile-container {background-color: #b3e9ae; color: #223920;}
            }
        }
    }
}

.card {
    background-color: #faf8f7;
    display: flex;
    flex-direction: row;
    padding: 3.5lvw;
    border-radius: 5.8lvw;
}

.image-container {
    display: flex;
    max-width: 100lvw;
    border-radius: 3.64lvw;
    overflow: hidden;
    flex: 2;
    align-items: center;
    justify-content: center;

    > img {
        width: 100%;
        transform: scale(1.05);
    }
}

.tags {
    display: flex;
    align-items: center;
    gap: 1.8lvw;

    > .tag {
        padding: 0.6lvw 2.4lvw 1.1lvw 2.4lvw;
        line-height: normal;
        margin: 0;
        background-color: #b18864;
        color: #faf8f7;
        text-align: center;
        font-size: larger;
        font-weight: 600;
        border-radius: 100lvw;
        white-space: nowrap;
    }
}

$animationSpeed: 15s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(var(--anim-offset))}
}

@keyframes jump {
    0% { transform: translateY(0); }
    10% { transform: translateY(20%); }
    20% { transform: translateY(0); }
    30% { transform: translateY(20%); }
    40% { transform: translateY(0lvw); }
}


// Styling
.slider {

	position: relative;
	width: 100lvw;
    overflow: hidden;
	
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.tags {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: fit-content;
	}
}

.slider.first {
    margin-top: 5lvw;
    margin-bottom: 5lvw;
    > .tags {
        animation: scroll calc($animationSpeed - 7s) linear infinite;
    }
}

div#whoami {
    background-color: #ebcaa1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    > h1 {
        text-shadow: none;
        color: #202b39;
        text-align: end;
        padding-top: 5%;
        z-index: 2;
        > strong {
            color: #faf8f7;
        }
    }

    > .card {
        width: 75lvw;
        transform: translate(-5lvw, 10lvh);
        margin-bottom: 3lvw;

        > .image-container {
            height: 100%;
            background-image: url("Portrait.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            > img {
                visibility: hidden;
            }
        }

        > div:nth-child(2) {
            display: flex;
            flex-direction: column;
            flex: 3;

            > h4 {
                margin: -2% 0 0;
                padding: 0 0 1lvw 3lvw;
                font-size: clamp(1.4rem, 4.25lvw, 2.3rem);
                color: #392420;
                font-weight: 800;
            }

            > p {
                margin: 0;
                padding: 0 0 0 3lvw;
                color: #392420;
                font-weight: 700;
                font-size: small;
            }
        }
    }
}

div#whoami-footer {
    width: 100%;
    color: #b18864;
    margin-top: auto;

    > p {
        width: 100%;
        text-align: center;
        margin: 0;
        font-weight: 600;
    }
}

div.arrow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
        width: 10lvw;
        height: 10lvw;
        padding-bottom: 5lvw; padding-top: -15%;
        animation: jump 5s ease-in-out infinite;
    }
}

div#aboutme {
    background-color: #a4caee;
}

div#uiux {
    background-color: #c7a4ee;
}

div#photography {
    background-color: #a7e2e6;
}

div#music {
    background-color: #eea7a7;
}

div#contactme {
    background-color: #b3e9ae;
}